{% extends "transactions/base.html" %}
{% block ctt %}
{% load static %}
{% load humanize %}
<!-- Begin Page Content -->
{% if noRows %}
<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-sm-start mb-4">
    {% if accountID == "None" or accountID == "AllCur" or accountID == "AllCC" %}
    <h4 class="h4 mb-0 text-gray-800  mr-3">No Account found</h4>
    <h4 class="h5 mb-0 text-black-800  mr-3">Please go to your profile and add one</h4>
    {% else %}
    <h4 class="h4 mb-0 text-gray-800  mr-3">AccountID "{{accountID}}" not found</h4>
    <h4 class="h5 mb-0 text-black-800  mr-3">Delete this ID and try again</h4>
    {% endif %}
      <form action="{% url 'caps' %}" method="POST">
        {% csrf_token %}
        <select class="custom-select w-auto" name="submit">
          <!--working with actual accounts-->
          <option value="none" selected disabled hidden>Switch accounts</option>
          {% for account in accountIDs %}
            <option value="{{account}}">{{ account }}</option>
          {% endfor %}
          <option value="AllCurr">Show all current accounts</option>
          <option value="AllCC">Show all credit accounts</option>
          <option value="All">All accounts (summary)</option>
        </select>
        <input type="submit" value="Select" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-3">
      </form>
      <a href="{% url 'transactions' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-3"><i class="fas fa-download fa-history text-white-50" style="padding-right: 5px"></i>All Transactions</a>
      <a href="{% url 'home' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-3"><i class="fas fa-download fa-history text-white-50" style="padding-right: 5px"></i>Categorical Transactions</a>
    </div>
</div>
{% else %}
<div class="container-fluid">
  <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-sm-start mb-4">
      {% if selectedAccount == "AllCurr" %}
      <h4 class="h3 mb-0 text-gray-800  mr-3">All Current Accounts</h4>
      {% elif selectedAccount == "AllCC" %}
      <h4 class="h3 mb-0 text-gray-800  mr-3">All Credit Accounts</h4>
      {% else %}
      <h4 class="h3 mb-0 text-gray-800  mr-3">{{ accountType}}</h4>
      <h4 class="h3 mb-0 text-black-800  mr-3">{{selectedAccount}}</h4>
      {% endif %}
      <form action="{% url 'caps' %}" method="POST">
        {% csrf_token %}
        <select class="custom-select w-auto" name="submit">
          <!--working with actual accounts-->
          <option value="none" selected disabled hidden>Switch accounts</option>
          {% for account in accountIDs %}
            <option value="{{account}}">{{ account }}</option>
          {% endfor %}
          <option value="AllCurr">Show all current accounts</option>
          <option value="AllCC">Show all credit accounts</option>
          <option value="All">All accounts (summary)</option>
        </select>
        <input type="submit" value="Select" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-3">
      </form>
      <a href="{% url 'transactions' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-3"><i class="fas fa-download fa-history text-white-50" style="padding-right: 5px"></i>All Transactions</a>
      <a href="{% url 'home' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-3"><i class="fas fa-download fa-history text-white-50" style="padding-right: 5px"></i>Categorical Transactions</a>
      <!--<a href="{% url 'report' %}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm mr-3"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
    </div>
  

  <!-- Content Row -->
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <!-- Balance Card -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Average Monthly Spend</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">£{{spend|floatformat:2| intcomma}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Cap set on all transactions</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">£{{allCap|floatformat:2| intcomma}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Spend (Monthly) Card -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Sum of categorical caps</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">£{{totalCap|floatformat:2| intcomma}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-pound-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Average income/spend -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1"></div>
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Most Expensive Category</div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ mostExpCat.Category }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xl-12 col-lg-11">
      <div class="card shadow mb-4">
        <div class="card-body">
          <h4 class="small font-weight-bold">Cap Information</h4>
            {% if totalCap == allCap %}
            <div class="h6 mb-0 mr-3 text-gray-800"><i class="fas fa-exclamation-circle"></i>Good! Both caps are identical. This figure will be used to notify you if you go over budget</div>
            {% else %}
            <div class="h6 mb-0 mr-3 text-gray-800">
              <i class="fas fa-exclamation-circle"></i>
              Sum of categorical caps contradict cap on all transactions. If you are not budgeting arbitrarily, these values should be identical.
            </div>
            {% endif %}
          
            {% if spend > totalCap %}
            <div class="h6 mb-0 mr-3 text-gray-800" style="padding-top:2%"><i class="fas fa-exclamation-circle"></i>
              Your current average spend is greater than your monthly cap on all transactions!
            </div>
            {% endif %}
          
            {% if spend > allCap %}
            <div class="h6 mb-0 mr-3 text-gray-800" style="padding-top:2%"><i class="fas fa-exclamation-circle"></i>
              Your current average spend is greater than the sum of your monthly categorical caps!
            </div>
            {% endif %}
          
            {% if mostExpCat.Cap == 0.0 %}
            <div class="h6 mb-0 mr-3 text-gray-800" style="padding-top:2%"><i class="fas fa-exclamation-circle"></i>
              Tip: You have not set a cap on your most costly category, you should consider doing this! You have spent £{{ mostExpCat.Spend |floatformat:2| intcomma }} on this category.
            </div>
            {% endif %}
          
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xl-12 col-lg-11">
      <div class="card shadow mb-4">
        <div class="card-body">
          <h4 class="small font-weight-bold">Overall : {{allSpend|floatformat:2| intcomma}} spent out of {{allCap|floatformat:2| intcomma}}</h4>
          <div class="progress mb-2">
            {% if totalPercentage > 100%}
            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="{{allSpend}} " aria-valuemin="0" aria-valuemax="{{allCap}}"></div>
            {% elif totalPercentage > 66%}
            <div class="progress-bar bg-warning" role="progressbar" style="width:{{totalPercentage}}%" aria-valuenow="{{allSpend}} " aria-valuemin="0" aria-valuemax="{{allCap}}"></div>
            {% else %}
            <div class="progress-bar bg-success" role="progressbar" style="width:{{totalPercentage}}%" aria-valuenow="{{allSpend}} " aria-valuemin="0" aria-valuemax="{{allCap}}"></div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  {% for cap in capData %}
  {% if cap.Cap > 0 %}
  <div class="row">
    <div class="col-xl-12 col-lg-11">
      <div class="card shadow mb-4">
        <div class="card-body">
          <h4 class="small font-weight-bold">{{cap.Category}} : {{cap.Spend|floatformat:2| intcomma}} spent out of {{cap.Cap|floatformat:2| intcomma}}</h4>
          <div class="progress mb-2">
            {% if cap.Percentage > 100%}
            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="{{cap.Spend}} " aria-valuemin="0" aria-valuemax="{{cap.Cap}}"></div>
            {% elif cap.Percentage > 66%}
            <div class="progress-bar bg-warning" role="progressbar" style="width:{{cap.Percentage}}%" aria-valuenow="{{cap.Spend}} " aria-valuemin="0" aria-valuemax="{{cap.Cap}}"></div>
            {% else %}
            <div class="progress-bar bg-success" role="progressbar" style="width: {{cap.Percentage}}%" aria-valuenow="{{cap.Spend}} " aria-valuemin="0" aria-valuemax="{{cap.Cap}}"></div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}

    <!-- Pie Chart -->
  <div class="row">
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Categorical Caps</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body" style="position: relative; height: 50vh;">
          <canvas id="pieChart"></canvas>
          <script>
            var capDataset = ["{{capData.0.Cap}}","{{capData.1.Cap}}","{{capData.2.Cap}}","{{capData.3.Cap}}","{{capData.4.Cap}}","{{capData.5.Cap}}","{{capData.6.Cap}}","{{capData.7.Cap}}","{{capData.8.Cap}}","{{capData.9.Cap}}"]

            var ctxPie = document.getElementById("pieChart")
            var myPieChart = new Chart(ctxPie,{
              type: 'pie',
              data: {
                labels: ['Bills & Payments', 'Transport', 'Groceries', 'Fashion & Cosmetics', 'Finances', 'Food', 'General', 'Entertainment', 'Leisure & Self-Care', 'Other'],
                datasets: [{
                  label: 'Cap Set',
                  data: capDataset,
                  backgroundColor: [
                    'rgba(78, 115, 223, 0.5)', //blue
                    'rgba(231, 74, 59, 0.5)',  //red
                    'rgba(253, 126, 20, 0.5)',  //orange
                    'rgba(232, 62, 140, 0.5)',  //pink
                    'rgba(28, 200, 138, 0.5)',  //green
                    'rgba(246, 194, 62, 0.5)',  //yellow
                    'rgba(90, 92, 105, 0.5)',  //gray-dark
                    'rgba(102, 16, 242, 0.5)',  //indigo
                    'rgba(54, 185, 204, 0.5)',  //cyan
                    'rgba(133, 135, 150, 0.5)',  //gray
                  ],
                  borderColor: [
                  'rgba(78, 115, 223, 1)',
                    'rgba(231, 74, 59, 1)',
                    'rgba(253, 126, 20, 1)',
                    'rgba(232, 62, 140, 1)',
                    'rgba(28, 200, 138, 1)',
                    'rgba(246, 194, 62, 1)',
                    'rgba(90, 92, 105, 1)',
                    'rgba(102, 16, 242, 1)',
                    'rgba(54, 185, 204, 1)',
                    'rgba(133, 135, 150, 1)',
                  ],
                  borderWidth: 1
                }]
              },
              options: {
                maintainAspectRatio: false,
                title: {
                  display: true,
                  text: "Categorical Caps Set"
                },
                tooltips: {
                  // Code to customize the title and label of Tooltips for pie chart
                  callbacks: {
                    title: function(tooltipItem, data) {
                      return data['labels'][tooltipItem[0]['index']]
                    },
                    label: function(tooltipItem, data) {
                      var label = data.datasets[tooltipItem.datasetIndex].label;
                      return label + ": " + Number(data.datasets[0].data[tooltipItem.index]).toLocaleString("en-GB",{style:"currency", currency:"GBP"});
                    }
                  }
                }
              }
            });
          </script>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Categorical Caps vs Spend</h6>
          </div>
        <div class="card-body" style="position: relative; height: 50vh;">
          <canvas id="barChart"></canvas>
          <script>
            var ctxBar = document.getElementById("barChart")

            var spendDataset = ["{{capData.0.Spend}}","{{capData.1.Spend}}","{{capData.2.Spend}}","{{capData.3.Spend}}","{{capData.4.Spend}}","{{capData.5.Spend}}","{{capData.6.Spend}}","{{capData.7.Spend}}","{{capData.8.Spend}}","{{capData.9.Spend}}"]
            var capDataset = ["{{capData.0.Cap}}","{{capData.1.Cap}}","{{capData.2.Cap}}","{{capData.3.Cap}}","{{capData.4.Cap}}","{{capData.5.Cap}}","{{capData.6.Cap}}","{{capData.7.Cap}}","{{capData.8.Cap}}","{{capData.9.Cap}}"]

            var myBarChart = new Chart(ctxBar,{
              type: 'bar',
              data: {
                labels: ['Bills & Payments', 'Transport', 'Groceries', 'Fashion & Cosmetics', 'Finances', 'Food', 'General', 'Entertainment', 'Leisure & Self-Care', 'Other'],
                datasets: [{
                  label: 'Categorical Cap',
                  data: capDataset,
                  backgroundColor: 'rgba(231, 74, 59, 0.5)',  //red
                  borderColor: 'rgba(231, 74, 59, 1)',
                  borderWidth: 1
                }, {
                  label: 'Categorical Spend',
                  data: spendDataset,
                  backgroundColor: [
                    'rgba(78, 115, 223, 0.5)', //blue
                    'rgba(231, 74, 59, 0.5)',  //red
                    'rgba(253, 126, 20, 0.5)',  //orange
                    'rgba(232, 62, 140, 0.5)',  //pink
                    'rgba(28, 200, 138, 0.5)',  //green
                    'rgba(246, 194, 62, 0.5)',  //yellow
                    'rgba(90, 92, 105, 0.5)',  //gray-dark
                    'rgba(102, 16, 242, 0.5)',  //indigo
                    'rgba(54, 185, 204, 0.5)',  //cyan
                    'rgba(133, 135, 150, 0.5)',  //gray
                  ],
                  borderColor:[
                    'rgba(78, 115, 223, 1)',
                    'rgba(231, 74, 59, 1)',
                    'rgba(253, 126, 20, 1)',
                    'rgba(232, 62, 140, 1)',
                    'rgba(28, 200, 138, 1)',
                    'rgba(246, 194, 62, 1)',
                    'rgba(90, 92, 105, 1)',
                    'rgba(102, 16, 242, 1)',
                    'rgba(54, 185, 204, 1)',
                    'rgba(133, 135, 150, 1)',
                  ],
                  borderWidth: 1
                }]
              },
              options: {
                maintainAspectRatio:false,
                title: {
                  display: true,
                  text: "Caps vs Spend"
                },
                tooltips: {
                  callbacks: {
                    title: function(tooltipItem, data) {
                      return data['labels'][tooltipItem[0]['index']]
                    },
                    label: function(tooltipItem, data) {
                      var label = data.datasets[tooltipItem.datasetIndex].label;
                      return label + ": " + Number(data.datasets[0].data[tooltipItem.index]).toLocaleString("en-GB",{style:"currency", currency:"GBP"});
                    }
                  }
                }
              }
            });
          </script>
        </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock ctt %} 