{% extends "transactions/base.html" %}
{% block ctt %}
{% load static %}
{% load humanize %}
<!-- Begin Page Content -->
{% if noRows %}
<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-sm-start mb-4">
    {% if accountID == "None" or accountID == "AllCur" or accountID == "AllCC" %}
    <h4 class="h4 mb-0 text-gray-800  mr-3">No Account found</h4>
    <h4 class="h5 mb-0 text-black-800  mr-3">Please go to your profile and add one</h4>
    {% else %}
    <h4 class="h4 mb-0 text-gray-800  mr-3">AccountID "{{accountID}}" not found</h4>
    <h4 class="h5 mb-0 text-black-800  mr-3">Delete this ID and try again</h4>
    {% endif %}
      <form action="{% url 'caps' %}" method="POST">
        {% csrf_token %}
        <select class="custom-select w-auto" name="submit">
          <!--working with actual accounts-->
          <option value="none" selected disabled hidden>Switch accounts</option>
          {% for account in accountIDs %}
            <option value="{{account}}">{{ account }}</option>
          {% endfor %}
          <option value="AllCurr">Show all current accounts</option>
          <option value="AllCC">Show all credit accounts</option>
          <option value="All">All accounts (summary)</option>
        </select>
        <input type="submit" value="Select" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-3">
      </form>
      <a href="{% url 'transactions' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-3"><i class="fas fa-download fa-history text-white-50" style="padding-right: 5px"></i>All Transactions</a>
      <a href="{% url 'home' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-3"><i class="fas fa-download fa-history text-white-50" style="padding-right: 5px"></i>Categorical Transactions</a>
    </div>
</div>
{% else %}
<div class="container-fluid">
  <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-sm-start mb-4">
      {% if selectedAccount == "AllCurr" %}
      <h4 class="h3 mb-0 text-gray-800  mr-3">All Current Accounts</h4>
      {% elif selectedAccount == "AllCC" %}
      <h4 class="h3 mb-0 text-gray-800  mr-3">All Credit Accounts</h4>
      {% else %}
      <h4 class="h3 mb-0 text-gray-800  mr-3">{{ accountType}}</h4>
      <h4 class="h3 mb-0 text-black-800  mr-3">{{selectedAccount}}</h4>
      {% endif %}
      <form action="{% url 'caps' %}" method="POST">
        {% csrf_token %}
        <select class="custom-select w-auto" name="submit">
          <!--working with actual accounts-->
          <option value="none" selected disabled hidden>Switch accounts</option>
          {% for account in accountIDs %}
            <option value="{{account}}">{{ account }}</option>
          {% endfor %}
          <option value="AllCurr">Show all current accounts</option>
          <option value="AllCC">Show all credit accounts</option>
          <option value="All">All accounts (summary)</option>
        </select>
        <input type="submit" value="Select" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-3">
      </form>
      <a href="{% url 'transactions' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-3"><i class="fas fa-download fa-history text-white-50" style="padding-right: 5px"></i>All Transactions</a>
      <a href="{% url 'home' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-3"><i class="fas fa-download fa-history text-white-50" style="padding-right: 5px"></i>Categorical Transactions</a>
      <!--<a href="{% url 'report' %}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm mr-3"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
    </div>
  

  <!-- Content Row -->
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <!-- Balance Card -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Average Monthly Spend</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">£{{spend|floatformat:2| intcomma}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Cap set on all transactions</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">£{{allCap|floatformat:2| intcomma}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Spend (Monthly) Card -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Sum of categorical caps</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">£{{totalCap|floatformat:2| intcomma}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-pound-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Average income/spend -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1"></div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-xl-12 col-lg-11">
      <div class="card shadow mb-4">
        <div class="card-body">
          <h4 class="small font-weight-bold">Cap information</h4>
          {% if totalCap == allCap %}
            <div class="p mb-0 mr-3 text-gray-800">
              Both caps are identical. This figure will be used to notify you if you go over budget
            </div>
          {% else %}
          <div class="p mb-0 mr-3 text-gray-800">
              Your categorical caps seem to supersede the cap you set on all your transactions, consider changing this.
              If you are not budgeting arbitrarily, these values should be identical.
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

    <!-- Pie Chart -->
  <div class="row">
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Expenditure</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body" style="position: relative; height: 50vh;">
          <canvas id="pieChart"></canvas>
          <script>
            var ctxPie = document.getElementById("pieChart")
            var myPieChart = new Chart(ctxPie,{
              type: 'pie',
              data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                  label: '# of Votes',
                  data: [12, 19, 3, 5, 2, 3],
                  backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
                }]
              },
              options: {
                maintainAspectRatio: false
              }
            });
          </script>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Expenditure</h6>
          </div>
        <div class="card-body" style="position: relative; height: 50vh;">
          <canvas id="barChart"></canvas>
          <script>
            var ctxBar = document.getElementById("barChart")
            var myBarChart = new Chart(ctxBar,{
              type: 'bar',
              data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                  label: '# of Votes',
                  data: [12, 19, 3, 5, 2, 3],
                  backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
                }]
              },
              options: {
                maintainAspectRatio:false
              }
            });
          </script>
        </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock ctt %} 