{% extends "transactions/base.html" %}
{% load crispy_forms_tags %}
{% block ctt %}
<div class="content-section">
	<h2 class="account-heading">Need help? Just submit the query below and we'll get back to you!</h2><br>
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-primary btn-user btn-block" type="submit">
				Save Changes
			</button>
		</div>
	</form>
</div>
{% endblock ctt %}