{% extends "transactions/base.html" %}
{% load crispy_forms_tags %}
{% block ctt %}
<div class="content-section">
	<div class="media">
		<div class="col-xl-3 col-md-6 mb-4">
			<img class="rounded-circle account-img" src="{{ user.profile.img.url }}">
		</div>
		<div class="col-xl-3 col-md-6 mb-4" style="margin: 6%">
			<h2 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h2>
			<p class="test-secondary">{{ user.email }}</p>
		</div>
	</div>
	<!-- form -->
	<h2 style="padding: 15px">
		Update Personal Information
	</h2>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<fieldset class="form-group">
			{{ uForm|crispy }}
			{{ pForm|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-primary btn-user btn-block" type="submit">
				Save Changes
			</button>
		</div>
	</form>
	<div style="padding-top: 3%">
		<h2 class="account-heading" >
		Want to remove existing account's?</h2>
		<p class="test-secondary">Simply select the account you wish to remove and click delete!</p>
	</div>
	<form action="{% url 'delete' %}" method="POST">
		{% csrf_token %}
		<select class="custom-select w-auto" name="accountDropdown" style="margin-bottom: 1%">
		<!--working with actual accounts-->
		{% for account in accountIDs %}
			<option value="{{account}}">Account: {{ account }}</option>
		{% endfor %}
			<option value="All">All Accounts</option>
		</select>
		<div class="form-group">
			<input class="btn btn-primary btn-user btn-block" type="submit" value="Delete Account">
		</div>
	</form>
</div>
{% endblock ctt %}