{% extends "transactions/base.html" %}
{% block ctt %}
{% load static %}
{% load humanize %}
<!-- Begin Page Content -->
{% if noRows %}
<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-sm-start mb-4">
    {% if accountID == "None" or accountID == "AllCur" or accountID == "AllCC" %}
    <h4 class="h4 mb-0 text-gray-800  mr-3">No Account found</h4>
    <h4 class="h5 mb-0 text-black-800  mr-3">Please go to your profile and add one</h4>
    {% else %}
    <h4 class="h4 mb-0 text-gray-800  mr-3">AccountID "{{accountID}}" not found</h4>
    <h4 class="h5 mb-0 text-black-800  mr-3">Delete this ID and try again</h4>
    {% endif %}
      <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        <select class="custom-select w-auto" name="submit">
          <!--working with actual accounts-->
          <option value="none" selected disabled hidden>Switch accounts</option>
          {% for account in accountIDs %}
            <option value="{{account}}">{{ account }}</option>
          {% endfor %}
          <option value="AllCurr">Show all current accounts</option>
          <option value="AllCC">Show all credit accounts</option>
          <option value="All">All accounts (summary)</option>
        </select>
        <input type="submit" value="Select" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-3">
      </form>
      <a href="{% url 'transactions' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-3"><i class="fas fa-download fa-history text-white-50" style="padding-right: 2px"></i> See All Transactions</a>
      <a href="{% url 'caps' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-3"><i class="fas fa-download fa-history text-white-50" style="padding-right: 2px"></i> Caps </a>
    </div>
</div>
{% else %}
<div class="container-fluid">
  <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-sm-start mb-4">
      <h4 class="h3 mb-0 text-gray-800  mr-3">All Accounts</h4>
      <h4 class="h3 mb-0 text-black-800  mr-3">Summary</h4>
      <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        <select class="custom-select w-auto" name="submit">
          <!--working with actual accounts-->
          <option value="none" selected disabled hidden>Switch accounts</option>
          {% for account in accountIDs %}
            <option value="{{account}}">{{ account }}</option>
          {% endfor %}
          <option value="AllCurr">Show all current accounts</option>
          <option value="AllCC">Show all credit accounts</option>
          <option value="All">All accounts (summary)</option>
        </select>
        <input type="submit" value="Select" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-3">
      </form>
      <a href="{% url 'transactions' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-3"><i class="fas fa-download fa-history text-white-50" style="padding-right: 2px"></i> See All Transactions</a>
      <a href="{% url 'home' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-3"><i class="fas fa-download fa-history text-white-50" style="padding-right: 2px"></i> Categorical Transactions</a>
      <!--<a href="{% url 'report' %}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm mr-3"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
    </div>


  <!-- Content Row -->
  <div class="row">
   <!-- Balance Card -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total balance on current accounts</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">£{{totalCurrentBalance|floatformat:2| intcomma}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Credit Card Bill to Pay</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">£{{totalCreditBalance|floatformat:2| intcomma}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Spend (Monthly) Card -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Monthly Bill Payment</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">£{{totalBills|floatformat:2| intcomma}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-pound-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Average income/spend -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Overall Remaining Balance</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">£{{ remainingAmount |floatformat:2| intcomma}}</div>
                </div>
                <!--<div class="col">-->
                  <!--<div class="progress progress-sm mr-2">-->
                    <!--<div class="progress-bar bg-info" role="progressbar" style="width: 46%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>-->
                  <!--</div>-->
                <!--</div>-->
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-lg-11">
      <div class="card shadow mb-4">
        <div class="card-body">
          <h4 class="small font-weight-bold">Account Dashboard</h4>
          
          <!-- relevant algorithms for summary page -->
          
            {% if remainingAmount < 0 %}
            <div class="h6 mb-0 mr-3 text-gray-800"><i class="fas fa-exclamation-circle"></i>
              It looks like your credit card bills and direct debits may put your current accounts into overdraft!
            </div>
            {% endif %}
            {% if remainingAmount > 0  and  totalCreditBalance > 0%}
            <div class="h6 mb-0 mr-3 text-gray-800">
              <i class="fas fa-exclamation-circle"></i>
              Looking good! You have enough balance to pay for your upcoming bills, keep within your budgets to keep saving money.
              <br> Consider paying off more of your credit card's outstanding balance.
            </div>
            {% endif %}
            {% if remainingAmount > 0  and  totalCreditBalance == 0 %}
            <div class="h6 mb-0 mr-3 text-gray-800">
              <i class="fas fa-exclamation-circle"></i>
              Looking good! You have enough balance to pay for your upcoming bills, keep within your budgets to keep saving money.
              You also have no outstanding balance on credit cards, so you could look into putting your money into a savings account!
            </div>
            {% endif %}
          
            
          
            {% if spend > totalCap %}
            <div class="h6 mb-0 mr-3 text-gray-800" style="padding-top:2%"><i class="fas fa-exclamation-circle"></i>
              Your current average spend is greater than your monthly cap on all transactions!
            </div>
            {% endif %}
          
            {% if spend > allCap %}
            <div class="h6 mb-0 mr-3 text-gray-800" style="padding-top:2%"><i class="fas fa-exclamation-circle"></i>
              Your current average spend is greater than the sum of your monthly categorical caps!
            </div>
            {% endif %}
          
            {% if mostExpCat.Cap == 0.0 %}
            <div class="h6 mb-0 mr-3 text-gray-800" style="padding-top:2%"><i class="fas fa-exclamation-circle"></i>
              Tip: You have not set a cap on your most costly category, you should consider doing this! You have spent £{{ mostExpCat.Spend |floatformat:2| intcomma }} on this category.
            </div>
            {% endif %}
          
        </div>
      </div>
    </div>
  </div>
  <!-- Content Row -->
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-11">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Accounts Overview</h6>
          

          
        </div>
        {% for account in accountData %}
        <!-- Card Body -->
        <div class="card-body">
          <div class="card shadow mb-2 ml-3 mr-3 mt-2">
            <a href="#{{account.accountID}}" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapsedCreditCardTransactions">
              <div class="row">
                <div class = "col-xl-6">
                  <h6 class="m-0 font-weight-bold text-primary">{{account.accountID}}</h6>
                </div>
                <div class = "col-xl-6">
                    {% if account.isCreditAccount %}
                  <h6 class="m-0 font-weight-bold text-primary float-right mr-3">Credit Card</h6>
                  {% else %}
                  <h6 class="m-0 font-weight-bold text-primary float-right mr-3">Current Account</h6>
                  {% endif %}
                </div>
              </div>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse hide" id={{account.accountID}}>
              <div class="card-body">
                <div class="table-responsive">
                  {% if account.isCreditAccount %}
                  <table class="table table-bordered" id="ccTable1" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                      <th>Next Billing Day</th>
                      <th>Total Balance to Pay</th>
                      <th>Minimum Payment Amount</th>
                      <th>Amount to Pay to Avoid Interest</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                      <td>{{ account.nextBillingDay }}</td>
                      <td>{{ account.balance |floatformat:2| intcomma }}</td>
                      <td>{{ account.minimumPayment |floatformat:2| intcomma}}</td>
                      <td>{{ account.balanceWtihInterest |floatformat:2| intcomma}}</td>
                      </tr>
                  </table>
                  {% else %}
                  <table class="table table-bordered" id="ccTable2" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                      <th>Next Interest Payday</th>
                      <th>Balance</th>
                      <th>Remaining Bills to Pay</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                      <td>{{ account.nextBillingDay }}</td>
                      <td>{{ account.balance |floatformat:2| intcomma }}</td>
                      <td>{{ account.directDebit |floatformat:2| intcomma}}</td>
                      </tr>
                  </table>
                  {% endif %}
                </div>
              </div>
              <div class="d-sm-flex align-items-center justify-content-sm-end mb-4">
            

                
                  <!-- Modal -->
                  <div class="modal fade" id="bpCap" tabindex="-1" role="dialog" aria-labelledby="bpCapTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <form action="{% url 'home' %}" method="POST">{% csrf_token %}
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="bpCapTitle">Bills & Payments Cap</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="input-group mb-3 input-group-lg">
                            <div class="input-group-prepend">
                              <span class="input-group-text">£</span>
                            </div>
                            <input type="text" class="form-control" name="getValueBP" value="{{ caps.1 }}">
                            <div class="input-group-append">
                              <span class="input-group-text">.00</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xl-6">
                              <button type="button" class="btn btn-primary btn-lg btn-block"><i class="fas fa-minus"></i></button>
                            </div>
                            <div class="col-xl-6">
                              <button type="button" class="btn btn-primary btn-lg btn-block"><i class="fas fa-plus"></i></button>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  



  <!-- Pie Chart -->
  <div class="row">
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Expenditure</h6>
<!--           <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div> -->
        </div>
        <!-- Card Body -->
        <div class="card-body" style="position: relative; height: 50vh;">
          <!-- <img src="{% static 'transactions/img/SquarePie.jpg' %}" style="max-width:100%;"> -->


          <canvas id="pieChart"></canvas>
          <script>
            // var endpoint = '/home/api/chart/data/'
            // var resData = []
            // var labels = []
            // $.ajax({
            //   method: "GET",
            //   url: endpoint,
            //   success: function(data){
            //     labels = data.labels
            //     resData = data.default
            //     console.log(data)
            //     console.log(data.customers)
            //     // resData = JSON.parse(data)

            //     var bpTotal = "{{totals.0}}";
            //     var tpTotal = "{{totals.1}}";
            //     var groceryTotal = "{{totals.2}}";
            //     var fcTotal = "{{totals.3}}";
            //     var financesTotal = "{{totals.4}}";
            //     var foodTotal = "{{totals.5}}";
            //     var genTotal = "{{totals.6}}";
            //     var entertainmentTotal = "{{totals.7}}";
            //     var lsTotal = "{{totals.8}}";
            //     var uncatTotal = "{{totals.9}}";


            //     var ctxPie = document.getElementById("pieChart")
            //     var myPieChart = new Chart(ctxPie,{
            //       type: 'pie',
            //       data: {
            //         labels: ['Bills & Payments', 'Transport', 'Groceries', 'Fashion & Cosmetics', 'Finances', 'Food', 'General', 'Entertainment', 'Leisure & Self-Care', 'Other'],
            //         datasets: [{
            //           label: '# of Votes',
            //           // data: resData,
            //           data: [bpTotal, tpTotal, groceryTotal, fcTotal, financesTotal, foodTotal, genTotal, entertainmentTotal, lsTotal, uncatTotal],

            //           backgroundColor: [
            //             'rgba(78, 115, 223, 0.5)', //blue
            //             'rgba(231, 74, 59, 0.5)',  //red
            //             'rgba(253, 126, 20, 0.5)',  //orange
            //             'rgba(232, 62, 140, 0.5)',  //pink
            //             'rgba(28, 200, 138, 0.5)',  //green
            //             'rgba(246, 194, 62, 0.5)',  //yellow
            //             'rgba(90, 92, 105, 0.5)',  //gray-dark
            //             'rgba(102, 16, 242, 0.5)',  //indigo
            //             'rgba(54, 185, 204, 0.5)',  //cyan
            //             'rgba(133, 135, 150, 0.5)',  //gray
                        
            //           ],
            //           borderColor: [
            //           'rgba(78, 115, 223, 1)',
            //             'rgba(231, 74, 59, 1)',
            //             'rgba(253, 126, 20, 1)',
            //             'rgba(232, 62, 140, 1)',
            //             'rgba(28, 200, 138, 1)',
            //             'rgba(246, 194, 62, 1)',
            //             'rgba(90, 92, 105, 1)',
            //             'rgba(102, 16, 242, 1)',
            //             'rgba(54, 185, 204, 1)',
            //             'rgba(133, 135, 150, 1)',
            //           ],
            //           borderWidth: 1

            //         }]
            //       },
            //       options: {
            //         maintainAspectRatio: false,
            //         // width: 100,
            //         // height: 300,
            //         // scales: {
            //         //   yAxes: [{
            //         //     ticks: {
            //         //       beginAtZero: true
            //         //     }
            //         //   }]
            //         // }
            //       }
            //     })
            //   },
            //   error: function(error_data){
            //     console.log("error")
            //     console.log(error_data)
            //   },
            // })


            var bpTotal = "{{totals.0}}";
            var tpTotal = "{{totals.1}}";
            var groceryTotal = "{{totals.2}}";
            var fcTotal = "{{totals.3}}";
            var financesTotal = "{{totals.4}}";
            var foodTotal = "{{totals.5}}";
            var genTotal = "{{totals.6}}";
            var entertainmentTotal = "{{totals.7}}";
            var lsTotal = "{{totals.8}}";
            var uncatTotal = "{{totals.9}}";

            var ctxPie = document.getElementById("pieChart")
            var myPieChart = new Chart(ctxPie,{
              type: 'pie',
              data: {
                labels: ['Bills & Payments', 'Transport', 'Groceries', 'Fashion & Cosmetics', 'Finances', 'Food', 'General', 'Entertainment', 'Leisure & Self-Care', 'Other'],
                datasets: [{
                  // data: resData,
                  // data: [5,5,5,5,5,5,5,5,5,5],  //test
                  label: "Amount Spent",
                  data: [bpTotal, tpTotal, groceryTotal, fcTotal, financesTotal, foodTotal, genTotal, entertainmentTotal, lsTotal, uncatTotal],

                  backgroundColor: [
                    'rgba(78, 115, 223, 0.5)', //blue
                    'rgba(231, 74, 59, 0.5)',  //red
                    'rgba(253, 126, 20, 0.5)',  //orange
                    'rgba(232, 62, 140, 0.5)',  //pink
                    'rgba(28, 200, 138, 0.5)',  //green
                    'rgba(246, 194, 62, 0.5)',  //yellow
                    'rgba(90, 92, 105, 0.5)',  //gray-dark
                    'rgba(102, 16, 242, 0.5)',  //indigo
                    'rgba(54, 185, 204, 0.5)',  //cyan
                    'rgba(133, 135, 150, 0.5)',  //gray
                    
                  ],
                  borderColor: [
                  'rgba(78, 115, 223, 1)',
                    'rgba(231, 74, 59, 1)',
                    'rgba(253, 126, 20, 1)',
                    'rgba(232, 62, 140, 1)',
                    'rgba(28, 200, 138, 1)',
                    'rgba(246, 194, 62, 1)',
                    'rgba(90, 92, 105, 1)',
                    'rgba(102, 16, 242, 1)',
                    'rgba(54, 185, 204, 1)',
                    'rgba(133, 135, 150, 1)',
                  ],
                  borderWidth: 1

                }]
              },
              options: {
                maintainAspectRatio: false,
                title: {
                  display: true,
                  text: "Amount Spent"
                },
                tooltips: {
                  callbacks: {
                    title: function(tooltipItem, data) {
                      return data['labels'][tooltipItem[0]['index']]
                    },
                    label: function(tooltipItem, data) {
                      var label = data.datasets[tooltipItem.datasetIndex].label;
                      return label + ": " + Number(data.datasets[0].data[tooltipItem.index]).toLocaleString("en-GB",{style:"currency", currency:"GBP"});
                    }
                  }
                }
                // width: 100,
                // height: 300,
                // scales: {
                //   yAxes: [{
                //     ticks: {
                //       beginAtZero: true
                //     }
                //   }]
                // }
              }
            })
          </script>


<!--           <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle text-primary"></i> Food
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-success"></i> Groceries
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-info"></i> Entertainment
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-japanese-indigo"></i> Bills
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-pastel-blue"></i> Transport
            </span>
          </div> -->
        </div>
      </div>
    </div>



    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Expenditure</h6>
<!--           <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div> -->
        </div>
        <!-- Card Body -->
        <div class="card-body" style="position: relative; height: 50vh;">
          <!-- <img src="{% static 'transactions/img/SquareBar.jpg' %}" style="max-width:100%;"> -->

          <canvas id="treeChart"></canvas>
          <script>
            // var endpoint = '/home/api/chart/data/'
            // $.ajax({
            //   method: "GET",
            //   url: endpoint,
            //   success: function(data){
                
            //   },
            //   error: function(error_data){

            //   },
            // })

            var ctxTree = document.getElementById("treeChart").getContext('2d');
          
            var bpTotal = "{{totals.0}}";
            var tpTotal = "{{totals.1}}";
            var groceryTotal = "{{totals.2}}";
            var fcTotal = "{{totals.3}}";
            var financesTotal = "{{totals.4}}";
            var foodTotal = "{{totals.5}}";
            var genTotal = "{{totals.6}}";
            var entertainmentTotal = "{{totals.7}}";
            var lsTotal = "{{totals.8}}";
            var uncatTotal = "{{totals.9}}";

            var bpCount = "{{count.0}}";
            var tpCount = "{{count.1}}";
            var groceryCount = "{{count.2}}";
            var fcCount = "{{count.3}}";
            var financesCount = "{{count.4}}";
            var foodCount = "{{count.5}}";
            var genCount = "{{count.6}}";
            var entertainmentCount = "{{count.7}}";
            var lsCount = "{{count.8}}";
            var uncatCount = "{{count.9}}";

            var myTreeChart = new Chart(ctxTree,{
              type: 'bar',
              data: {
                labels: ['Bills & Payments', 'Transport', 'Groceries', 'Fashion & Cosmetics', 'Finances', 'Food', 'General', 'Entertainment', 'Leisure & Self-Care', 'Other'],
                datasets: [{
                  // label: ['Bills & Payments', 'Transport', 'Groceries', 'Fashion & Cosmetics', 'Finances', 'Food', 'General', 'Entertainment', 'Leisure & Self-Care', 'Other'],
                  label: "Number of Transactions",
                  data: [bpCount, tpCount, groceryCount, fcCount, financesCount, foodCount, genCount, entertainmentCount, lsCount, uncatCount],

                  backgroundColor: [
                    'rgba(78, 115, 223, 0.5)', //blue
                    'rgba(231, 74, 59, 0.5)',  //red
                    'rgba(253, 126, 20, 0.5)',  //orange
                    'rgba(232, 62, 140, 0.5)',  //pink
                    'rgba(28, 200, 138, 0.5)',  //green
                    'rgba(246, 194, 62, 0.5)',  //yellow
                    'rgba(90, 92, 105, 0.5)',  //gray-dark
                    'rgba(102, 16, 242, 0.5)',  //indigo
                    'rgba(54, 185, 204, 0.5)',  //cyan
                    'rgba(133, 135, 150, 0.5)',  //gray
                  ],
                  borderColor: [
                    'rgba(78, 115, 223, 1)',
                    'rgba(231, 74, 59, 1)',
                    'rgba(253, 126, 20, 1)',
                    'rgba(232, 62, 140, 1)',
                    'rgba(28, 200, 138, 1)',
                    'rgba(246, 194, 62, 1)',
                    'rgba(90, 92, 105, 1)',
                    'rgba(102, 16, 242, 1)',
                    'rgba(54, 185, 204, 1)',
                    'rgba(133, 135, 150, 1)',
                  ],
                  borderWidth: 1
                }]
              },
              options: {
                maintainAspectRatio: false,
                title: {
                  display: true,
                  text: "Number of transactions",
                },
                legend: {
                  display: false,
                },
                responsive: true,
              }
            });


            var treemapData = [
              {
                category: "Bills & Payments",
                count: "Number of Transactions",
                sum: "Total Amount Spent",
                transactionCount: bpCount,
                transactionTotal: bpTotal
              },
              {
                category: "Transport",
                count: "Number of Transactions",
                sum: "Total Amount Spent",
                transactionCount: tpCount,
                transactionTotal: tpTotal
              },
              {
                category: "Groceries",
                count: "Number of Transactions",
                sum: "Total Amount Spent",
                transactionCount: groceryCount,
                transactionTotal: groceryTotal
              },
              {
                category: "Fashion & Cosmetics",
                count: "Number of Transactions",
                sum: "Total Amount Spent",
                transactionCount: fcCount,
                transactionTotal: fcTotal
              },
              {
                category: "Finances",
                count: "Number of Transactions",
                sum: "Total Amount Spent",
                transactionCount: financesCount,
                transactionTotal: financesTotal
              },
              {
                category: "Food",
                count: "Number of Transactions",
                sum: "Total Amount Spent",
                transactionCount: foodCount,
                transactionTotal: foodTotal
              },
              {
                category: "General",
                count: "Number of Transactions",
                sum: "Total Amount Spent",
                transactionCount: genCount,
                transactionTotal: genTotal
              },
              {
                category: "Entertainment",
                count: "Number of Transactions",
                sum: "Total Amount Spent",
                transactionCount: entertainmentCount,
                transactionTotal: entertainmentTotal
              },
              {
                category: "Leisure & Self-Care",
                count: "Number of Transactions",
                sum: "Total Amount Spent",
                transactionCount: lsCount,
                transactionTotal: lsTotal
              },
              {
                category: "Other",
                count: "Number of Transactions",
                sum: "Total Amount Spent",
                transactionCount: uncatCount,
                transactionTotal: uncatTotal
              }
            ]

            // var myTreeChart = new Chart(ctxTree,{
            //   type: 'treemap',
            //   data: {
            //     labels: ['Bills & Payments', 'Transport', 'Groceries', 'Fashion & Cosmetics', 'Finances', 'Food', 'General', 'Entertainment', 'Leisure & Self-Care', 'Other'],
            //     datasets: [{
            //       label: 'Color Density: Amount Spent    Size: Number of Transactions',
            //       tree: [bpCount, tpCount, groceryCount, fcCount, financesCount, foodCount, genCount, entertainmentCount, lsCount, uncatCount],
            //       // fontColor: '#000000',
            //       // fontFamily: 'serif',
            //       // fontSize: 12,
            //       // fontStyle: 'normal',
            //       backgroundColor: function(myTreeMapChart) {
            //             var value = myTreeMapChart.dataset.tree[myTreeMapChart.dataIndex];
            //             var alpha = (value + 3) / 10;
            //             return Color('rgba(231, 74, 59)').alpha(alpha).rgbString();
            //       },
            //       borderColor: function(myTreeMapChart) {
            //             var value = myTreeMapChart.dataset.tree[myTreeMapChart.dataIndex];
            //             var alpha = (value + 3) / 5;
            //             return Color('rgba(231, 74, 59)').alpha(alpha).rgbString();
            //       },
            //       borderWidth: 1
            //     }]
            //   },
            //   options: {
            //     maintainAspectRatio: false,
            //     // title: {
            //     //   display: true,
            //     //   // text: "Treemap Sample"
            //     // },
            //     tooltips: {
            //       callbacks: {
            //         title: function(item, data) {
            //           return '';
            //         },
            //         label: function(item, data) {
            //           var dataset = data.datasets[item.datasetIndex];
            //           var dataItem = dataset.data[item.index];
            //           return dataItem.v;
            //         },
            //       },
            //     },
            //   },
            //   // options: {
            //   //   maintainAspectRatio: false,
            //   //   // scales: {
            //   //   //   yAxes: [{
            //   //   //     ticks: {
            //   //   //       beginAtZero: true
            //   //   //     }
            //   //   //   }]
            //   //   // }
            //   // }


            // });
          </script>


<!--           <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle text-primary"></i> Food
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-success"></i> Groceries
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-info"></i> Entertainment
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-japanese-indigo"></i> Bills
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-pastel-blue"></i> Transport
            </span>
          </div> -->
        </div>
      </div>
    </div>
  </div>
 
    

  <!-- Content Row -->
  <div class="row">
    <!-- Content Column -->
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-11">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          {% if prediction %}
          <h6 class="m-0 font-weight-bold text-primary">Spending Pattern and Predictions</h6>
          <h6 class="m-0 text-secondary" style="float:left"> - For Account {{ selectedAccount }}</h6>
          </div>
            <!-- Card Body -->
            <div class="card-body" style="position: relative; height: 50vh;">
              <!-- <img src="{% static 'transactions/img/line.jpg' %}" style="max-width:100%;"> -->
              
              <canvas id='lineChart'></canvas>
              <script>
                var timeFormat = "MMM Do YY";
    
                var predictionDates = "{{ prediction.date }}".slice(1,-1).replace(/\s/g, '').split(',');
                for (i in predictionDates) {
                  predictionDates[i] = new Date(parseInt(predictionDates[i]));
                };
    
                var predictionValues = "{{ prediction.value }}".slice(1,-1).replace(/\s/g, '').split(',');
                for (i in predictionValues) {
                  predictionValues[i] = parseInt(predictionValues[i])
                };
    
                var ctxLine = document.getElementById("lineChart").getContext("2d");
                var myLineChart = new Chart(ctxLine,{
                  type: 'line',
                  data: {
                    labels: predictionDates,
                    datasets: [{
                      label: "Predicted Amount Spent",
                      data: predictionValues,
                      backgroundColor: 'rgba(231, 74, 59, 0.5)',
                      borderColor: 'rgba(231, 74, 59, 1)',
                      fill: false
                    }],
                  },
                  options:{
                    maintainAspectRatio: false,
                    scales: {
                      xAxes: [{
                        type: "time",
                        time: {
                          parser: timeFormat,
                          tooltipFormat: "ll",
                        },
                        scaleLabel: {
                          display: true,
                          labelString: "Date",
                        }
                      }],
                      yAxes: [{
                        scaleLabel: {
                          display: true,
                          labelString: "Amount"
                        }
                      }],
                    }
                  }
                });
              </script>
    
              <!-- DataTables Script -->
              <script>
                $(document).ready(function() {
                  $('#ccTable').DataTable({
                    "iDisplayLength": 10,
                    "ordering": false
                  });
                });
                $(document).ready(function() {
                  $('#bpTable').DataTable({
                    "iDisplayLength": 10,
                    "ordering": false
                  });
                });
                $(document).ready(function() {
                  $('#transportTable').DataTable({
                    "iDisplayLength": 10,
                    "ordering": false
                  });
                });
                $(document).ready(function() {
                  $('#groceriesTable').DataTable({
                    "iDisplayLength": 10,
                    "ordering": false
                  });
                });
                $(document).ready(function() {
                  $('#fcTable').DataTable({
                    "iDisplayLength": 10,
                    "ordering": false
                  });
                });
                $(document).ready(function() {
                  $('#financesTable').DataTable({
                    "iDisplayLength": 10,
                    "ordering": false
                  });
                });
                $(document).ready(function() {
                  $('#foodTable').DataTable({
                    "iDisplayLength": 10,
                    "ordering": false
                  });
                });
                $(document).ready(function() {
                  $('#generalTable').DataTable({
                    "iDisplayLength": 10,
                    "ordering": false
                  });
                });
                $(document).ready(function() {
                  $('#entertainmentTable').DataTable({
                    "iDisplayLength": 10,
                    "ordering": false
                  });
                });
                $(document).ready(function() {
                  $('#lsTable').DataTable({
                    "iDisplayLength": 10,
                    "ordering": false
                  });
                });
                $(document).ready(function() {
                  $('#otherTable').DataTable({
                    "iDisplayLength": 10,
                    "ordering": false
                  });
                });
              </script>
            </div>
          {% else %}
            <h6 class="m-0 font-weight-bold text-secondary">Spending Pattern and Predictions- Not available for <strong>all</strong> accounts,
              please select one from the drop down menu in the top right</h6>
          </div>
          {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock ctt %} 
