{% extends "transactions/base.html" %}
{% block ctt %}
{% load static %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-sm-start mb-4">
    <h1 class="h3 mb-0 text-gray-800  mr-3">All Transactions</h1>
    <a href="{% url 'home' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-3"><i class="fas fa-download fa-tachometer-alt text-white-50"></i> See Dashboard</a>
    <a href="{% url 'report' %}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm mr-3"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    <select class="custom-select w-auto">
      <option value="Total">Total</option>
      <option value="Account 1">Account 1</option>
    </select>
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <!-- Balance Card -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Balance</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">£340,002</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">£40,000</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Annual) Card -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Earnings (Annual)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">£215,000</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-pound-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Outgoing/Ingoing</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">46%</div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 46%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-xl-12 col-lg-11">
      <div class="card shadow mb-4">
        <div class="card-body">
          <h4 class="small font-weight-bold">Budget used <span class="float-right">Total Salary</span></h4>
          <div class="progress mb-2">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 74%" aria-valuenow="74" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content Row -->

  <div class="row">

    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Transactions</h6>
          <div class="dropdown mb-0">
            Sort By:  
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Date (Descending)
            </button>
            <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="">Date (Descending)</a>
                <a class="dropdown-item" href="">Category</a>
                <a class="dropdown-item" href="">Amount (Descending)</a>
                <a class="dropdown-item" href="">Amount (Ascending)</a>
            </div>
            <!-- <select class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Date (Descending)
            </select>
            <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                <option value="Date (Descending)"><a class="dropdown-item" href="#">Date (Descending)</a></option>
                <option value="Category"><a class="dropdown-item" href="#">Category</a></option>
                <option value="Amount (Descending)"><a class="dropdown-item" href="#">Amount (Descending)</a></option>
                <option value="Amount(Ascending)"><a class="dropdown-item" href="#">Amount (Ascending)</a></option>
            </div> -->
          </div>
          <!-- <div class="dropdown no-arrow">
            <a class="dropdown-toggle font-weight-bold text-primary" href="#" role="button" id="dropdownMenuLink"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By: <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div> -->
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered  " id="datatable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                    <th>Date</th>
                    <th>Transaction</th>
                    <th>Amount</th>
                    <th>Currency</th>
                    </tr>
                </thead>
                <tbody>
                  {% for row in rows %}
                    <tr>
                    <td>{{ row.BookingDateTime }}</td>
                    <td>{{ row.TransactionInformation }}</td>
                    <td>{{ row.Amount }}</td>
                    <td>{{ row.Currency }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
        <!-- <div class="card-body">
          <div class="chart-area">
            <canvas id="myAreaChart"></canvas>
          </div>
        </div> -->
      </div>
    </div>
  </div>

    <!-- Pie Chart -->
  <div class="row">
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Expenditure</h6>
<!--           <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div> -->
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <!-- <img src="{% static 'transactions/img/SquarePie.jpg' %}" style="max-width:100%;"> -->

          <canvas id="pieChart"></canvas>
          <script>
            var endpoint = '/home/api/chart/data/'
            $.ajax({
              method: "GET",
              url: endpoint,
              success: function(data){
                
              },
              error: function(error_data){

              },
            })

            var ctxPie = document.getElementById("pieChart")
            var myPieChart = new Chart(ctxPie,{
              type: 'pie',
              data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                  label: '# of Votes',
                  data: [12, 19, 3, 5, 2, 3],
                  backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
                }]
              },
              // options: {
              //   scales: {
              //     yAxes: [{
              //       ticks: {
              //         beginAtZero: true
              //       }
              //     }]
              //   }
              // }
            });
          </script>



<!--           <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle text-primary"></i> Food
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-success"></i> Groceries
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-info"></i> Entertainment
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-japanese-indigo"></i> Bills
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-pastel-blue"></i> Transport
            </span>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Expenditure</h6>
<!--           <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div> -->
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <!-- <img src="{% static 'transactions/img/SquareBar.jpg' %}" style="max-width:100%;"> -->


          <canvas id="barChart"></canvas>
          <script>
            var endpoint = '/home/api/chart/data/'
            $.ajax({
              method: "GET",
              url: endpoint,
              success: function(data){
                
              },
              error: function(error_data){

              },
            })

            var ctxBar = document.getElementById("barChart")
            var myBarChart = new Chart(ctxBar,{
              type: 'bar',
              data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                  label: '# of Votes',
                  data: [12, 19, 3, 5, 2, 3],
                  backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
                }]
              },
              // options: {
              //   scales: {
              //     yAxes: [{
              //       ticks: {
              //         beginAtZero: true
              //       }
              //     }]
              //   }
              // }
            });
          </script>


<!--           <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle text-primary"></i> Food
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-success"></i> Groceries
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-info"></i> Entertainment
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-japanese-indigo"></i> Bills
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-pastel-blue"></i> Transport
            </span>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Content Column -->
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-11">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Spending Pattern and Predictions</h6>
            <!-- <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div> -->
          </div>
          <!-- Card Body -->
          <div class="card-body">
          <div class="line mt-4 pb-2">
            <!-- <img src="{% static 'transactions/img/line.jpg' %}" style="max-width:100%;">-->


            <canvas id="lineChart"></canvas>
            <script>
              var endpoint = '/home/api/chart/data/'
              $.ajax({
                method: "GET",
                url: endpoint,
                success: function(data){
                  
                },
                error: function(error_data){

                },
              })

              var ctxLine = document.getElementById("lineChart")
              var myLineChart = new Chart(ctxLine,{
                type: 'line',
                data: {
                  labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                  datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                  }]
                },
                // options: {
                //   scales: {
                //     yAxes: [{
                //       ticks: {
                //         beginAtZero: true  
                //       }
                //     }]
                //   }
                // }
              });
            </script>


          </div>
        </div>
        </div>
      </div>
  </div>
</div>
{% endblock ctt %} 